name: Build Semaphore

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Export version to variable
        run: |
            export SEMAPHORE_VERSION=$(cat version)
            echo "SEMAPHORE_VERSION=$SEMAPHORE_VERSION" >> $GITHUB_ENV
        shell: bash
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: andrewsav/semaphore:${{ env.SEMAPHORE_VERSION }}
          build-args: SEMAPHORE_VERSION=${{ env.SEMAPHORE_VERSION }}
